.news-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, 22rem);
    gap: 1.5rem;
    padding: 2rem;
    justify-content: center;
    align-content: center;
}

.back-button{
    font-size: 1rem;
    padding: 0.8rem 2rem;
    background-color: #2D5BD0;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover{
    background-color: #0056b3;

}